@charset "UTF-8";


/* MAIN GLOBAL CSS */

	:root {
		--primary-color: #3F88C5;
		--accent-one: #FDB833;
		--accent-two: #474448;
		--accent-three: #DF928E;
	}
	
	*, *::before, *::after {
		box-sizing: inherit;
	}
	
	html {
		font-size: 1em;
		box-sizing: border-box;
	}
	
	body {
		color: white;
		background-color: var(--primary-color);
		font-family: "Rubik", sans-serif;
		margin: 0 auto;
	}
	
	
	/* OTHER GLOBAL CSS */
	
		.h-85 {
			height: 85%;
		}
		
		.warning-text {
			color: var(--accent-one);
		}
		
		.wrapper {
			width: 100%;
			margin: 0 auto;
		}
		
		.navPane {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2em;
		}
	
		.mainSplash {
			background-color: var(--primary-color);
			color: white;
		}
		
		.primary-color {
			background-color: var(--primary-color);
		}
	
		.accentSplash, .primary-accent {
			background-color: var(--accent-one);
		}
		
		.accentSplash:hover {
			opacity: 85%;
			box-shadow: 0 0 10px white;
		}
	
		.secondary-accent {
			background-color: var(--accent-two);
		}
		
		.tertiary-accent {
			background-color: var(--accent-three);
		}
		
		.accent,
		#navbarBasic > .navbar-nav > .nav-item > a.active {
			color: var(--accent-one);
		}
		
		.center-text {
			text-align: center;
		}
	
	
	
	
	/* ////////// */
	/* INDEX PAGE */
	/* ////////// */

	.container__content {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}

	.form__box {
		padding: 1em 2em;
		width: 45%;
		max-width: 450px;
		min-width: 365px;
		border: 3px solid white;
	}
	
	.form-section {
		display: flex;
		justify-content: space-between;
		padding: 1em;
	}
	
	.form-section-error {
		padding: 0em 1em;
		justify-content: end;
	}
	
	.form-section-input {
		width: 45%;
	}
	
	.form-button-section {
		display: flex;
		justify-content: end;
		padding: 1em;
	}
	
	.form-button {
		padding: 0.5em 1em;
		border-radius: 20px;
		border: none;
		color: #010400;
	}
	
	.form-button:hover {
		cursor: pointer;
	}
	
	.container-login-register:nth-child(2) > * > * > .form-button-section {
		padding: 8.5em 1em 1em 1em;
	}
	
		/* ///////////// */
		/* SMALL SCREENS */
		/* ///////////// */
	
		@media screen and (max-width: 725px) {
			.container-login {
				flex-direction: column;
				align-items: center;
				width: 100%;
			}
			.container-login-register {
				width: 70%;
				margin: 1em 0;
			}
			.container-login-register:nth-child(2) > * > * > .form-button-section {
				padding: 1em;
			}
		}




/* ///////// */
/* HOME PAGE */
/* ///////// */


	.fadeIn {
		animation: 1s ease-in 0s fadein; 
	}
	
	@keyframes fadein {
		from {
			transform: translateY(3vh);
			color: transparent;
		}
		to {
			transform: translateY(0);
			color: white;
		}
	}
	
	.shape-icon {
		height: 50px;
		width: 50px;
		position: relative;
	}
	
	.shape-icon:before {
		content: "";
		border-left: 2px solid white;
		position: absolute;
		top: 40%;
		left: 0;
		height: 15px;
		width: 100%;
		transition: 300ms ease-in-out;
	}
	
	.contributions {
		padding-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.cont-section:hover > .shape-icon:before {
		transition: 300ms ease-in-out;
		content: "";
		border-left: 2px solid white;
		position: absolute;
		top: 40%;
		left: 96%;
		height: 15px; 
	}
	
	.cont-section:hover {
		transition: 300ms ease-in-out;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
	}
	
	.cont-section {
		transition: 300ms ease-in-out;
		padding: 2em 1em;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		display: flex;
		justify-content: space-between;
	}
	
	.home-item1 { grid-area: header; display: flex;}
	.home-item2 { grid-area: notifs; text-align: center;}
	.home-item3 { 
		grid-area: newpot; 
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.home-item4 { grid-area: contributions; }
	
	.home-grid {
		padding: 1em;
		display: grid;
		grid-template-areas: 
			'header contributions'
			'notifs contributions'
			'newpot contributions';
		gap: 30px;
	}
	
	.home-grid > div {
		padding: 2.5em 0;
	}
	
	
		/* ////////////////////// */
		/* MEDIUM / SMALL SCREENS */
		/* ////////////////////// */
		
		
		@media screen and (max-width: 850px) {
			.home-grid {
				grid-template-areas:
					'header'
					'notifs'
					'newpot'
					'contributions';
				gap: 20px;
			}
			.home-grid > div {
				padding: 1em 0;
			}
		}
		
		

/* ////////////////////////////// */
/* MY HONEY POT / MY FAMILY PAGES */
/* ////////////////////////////// */

.fam-grid {
	display: grid;
	grid-template-columns: 40% 40%;
	gap: 20px;
	padding: 1em;
}

.fam-grid-item {
	position: relative;
	padding: 2em;
	border-radius: 5px;
}

.grid-item-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.grid-item-container > * {
	margin: 0;
}

.arrow {
	fill: white;
}

		@media screen and (max-width: 767px) {
			.fam-grid {
				grid-template-columns: 100%;
			}
		}


/* /////////////////////// */
/* SPECIFIC HONEY POT PAGE */
/* /////////////////////// */

.noLink:link,
.noLink:visited,
.noLink:hover,
.noLink:active {
	text-decoration: none;
}

.circle {
	height: 250px;
	width: 250px;
	border: 2px solid red;
	border-radius: 50%;
}



/* //////////////////////////// */
/* NEW *INSERT THING HERE* PAGE */
/* //////////////////////////// */


.container-login:has(#new) {
	border: 2px solid red;
}


