@charset "UTF-8";


/* GLOBAL CSS */

body {
	color: white;
	background-color: #3F88C5
}

.navPane {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
}

.mainSplash {
	background-color: #3F88C5;
	color: white;
	border: 3px solid white;
}

.accent,
#navbarBasic > .navbar-nav > .nav-item > a.active {
	color: #FDB833;
}

.accentSplash {
	background-color: #FDB833;
}

.accentSplash:hover {
	background-color: #DE9502;
}

.transparent {
	color: transparent;
	background-color: transparent;
	height: inherit;
}

.transparent:hover {
	color: white;
	background-color: #FDB833;
}

.arrow {
	fill: white;
}



/* HOME PAGE */

.fadeIn {
	animation: 1s ease-in 0s fadein; 
}

@keyframes fadein {
	from {
		transform: translateY(3vh);
		color: transparent;
	}
	to {
		transform: translateY(0);
		color: white;
	}
}

/* SPECIFIC HONEY POT PAGE */

.noLink:link,
.noLink:visited,
.noLink:hover,
.noLink:active {
	text-decoration: none;
}

